
#header{
	width: 1000px;
	margin: auto;
	height: 156px;
	border: 1px solid;
}
#logo{
	float: left;
	margin: 10px 10px 10px 10px;
	width: 100px;
	height: 50px;
	border: 1px solid;
}

.searchform {
	
	margin-right: 300px;
	border:#00afdd 2px solid;
	height:27px;
	width:350px;
}
.searchform input[type=text] 
{
	width:270px;
	height:21px;
	border:0px;
	background:#ffffff;
	float:left;
	margin:0px;padding:3px;
}
.searchform input[type=submit] 
{
	border:#00afdd 2px solid;
	float:right;
	margin:2px 2px 2px 2px;
	height:23px;
	padding-top:1px;
	background:#4fbfdc;
}